.feedbox {
    background-color: blue;
}

.card {
   
    margin: auto;
    border: 2px solid darkblue;
    border-radius: 2px;
    background-color: whitesmoke;
    text-align: center;
    padding: 3px;
    width: 400px;
}

.feedin {
    overflow-y: scroll;
    height: 600px;
}