.feedbox {
    background-color: blue;
}

.card {
    display: inline;
    margin: auto;
    border: 2px solid darkblue;
    border-radius: 2px;
    background-color: whitesmoke;
    text-align: center;
}

.feedin {
    overflow-y: scroll;
    height: 600px;
}