.container {
    border: 2px solid black;
    margin: auto;
    background-color: darkslategrey;
    width: 700px;
  
}

.loginf {
    border: 2px solid black;
    margin: auto;
    background-color: azure;
}
input {
    align: center;
}